.wrapper {
  text-align: center;
}

.title {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  color: #363a40;
}

.description {
  margin-top: 10px;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #9e9ea6;
  margin-bottom: 32px;
}

.itemWrapper {
  display: grid;
  grid-template-columns: 1fr  50px;
  /* grid-template-columns: 1fr 100px auto; */
  
  text-align: left;
  padding: 12px 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #363a40;
}

.listWrapper {
  width: 70%;
  margin: 50px auto;
}

.userItem {
  background: #ffffff;
  border-radius: 8px;
  margin: 10px 0;
  cursor: pointer;
}

.userItem div {
    display: flex;
    align-items: center;
}
.userItem:hover {
  box-shadow: 0 4px 10px rgb(174 174 192 / 70%);
}

.author {
    display: flex;
    align-items: center;
    grid-gap: 8px;
}

.author div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.author div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}