
.documents {
    width: 85% ;
    margin-top: 25px;
}

.myDocuments {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #a0a4a8;
  border-bottom: 1px solid #868E9B50;
  padding-bottom: 12px;
  margin-bottom: 14px;
}
