.wrapper {
  width: 85%;
  border-bottom: 1px solid #868e9b50;
  padding-bottom: 22px;
  margin-bottom: 22px;
}

.step {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #a0a4a8;
}

.body {
  display: grid;
  grid-template-columns: 1fr 250px;
}

.title {
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #363a40;
}

.description {
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #363a40;
}

.checkBlock {
  display: flex;
  justify-content: right;
  align-items: center;
}

.checkBlock button {
  height: 38px;
  line-height: 21px;
  font-size: 18px;
  padding: 0 22px;
}

.success {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #9e9ea6;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.success img {
    width: 20px;
    height: 20px;
}