<html>
<head>
	<style type="text/css">
		* padding: 10px;
		ol {
		  counter-reset: section;
		  list-style-type: none;
		}

		li:before {
		  counter-increment: section;
		  content: counters(section, ".") ". ";
		}
	</style>
</head>
<body>
<h1>NFTTRX AGENCY AGREEMENT</h1>
<p>
	This Agency Agreement, hereinafter referred to as "Agreement" is entered into and made effective as of the date set forth at the end of this document by and between the following parties:
</p>
<p>
<strong>{{PrincipalName}}</strong>, who will hereinafter be referred to as "Principal," having a primary address at the following:
<br/>
{{PrincipalAddress}}
<br/>
and <strong>{{{AgentName}}}</strong>, who will hereinafter be referred to as "Agent," having a primary address at the following:
{{{AgentAddress}}}
Principal and Agent may be referred to individually as "Party" and collectively as the "Parties."
</p>
<p>
	
<h2>RECITALS:</h2>
<br/>WHEREAS, the Principal is involved in the business of the following:
{{{AdreementSubject}}}

<br/>WHEREAS, the Principal desires to appoint and engage the Agent as its lawful agent and representative to perform the services (hereinafter defined and referred to as "Services") described hereunder;
<br/>WHEREAS, the Agent agrees to accept such appointment and to represent the Principal and perform such Services in the territory described herein, under the terms and conditions in this Agreement;
<br/>NOW, therefore, in consideration of the promises and covenants contained herein, as well as other good and valuable consideration (the receipt and sufficiency of which is hereby acknowledged), the Parties do hereby agree as follows:
</p>
<br/>
<h2>Article 1 - APPOINTMENT:</h2>
<p>
Principal hereby appoints Agent as its non-exclusive agent in the territory described below.
Agent will perform the following Services for Principal, in accordance with the terms and conditions of this Agreement:
[AGENT WILL PERFORM THE FOLLOWING THINGS....]
</p>
<br/>
<h2>Article 2 - TERRITORY:</h2>
<p>Agent shall perform the Services for the Principal in the following territory (the "Territory"):
AGENT WORKS IN THE LEGAL FIELD OF UNITED KINGDOM
</p>
<br/>
<h2>Article 3 - TERM:</h2>
<p>Agent shall begin performing the Services for Principal on the following date: {{{StartDate}}} ("Start Date"). Agent will continue performing the Services for Principal indefinitely until the Parties agree to terminate this Agreement.
</p>
<br/>
<h2>Article 4 - PAYMENT:</h2>
<p>Agent will be paid as follows:
AGENT WILL BE PAID 1% OF THE DEALS PRICE FROM THE SIDE OF SELLER AND 1% FROM THE SIDE OF THE BUYER.
IT MAKES 2% IN TOTAL.
</p>
<p>
Additional details as to Agent's payment are as follows:
AGENT WILL BE PAID FIAT MONEY TO THE PROVIDED IN INVOICES BANK ACCOUNT
</p>
<p>
If Principal is late with Agent's payment, the following may occur:
AGENT WILL CHARGE THE CLIENT USING THE MONEY AFTER CRYPTOCURRENCY TO FIAT MONEY EXCHANGE
</p>
<br/>
<h2>Article 5 - EXPENSES:</h2>
<p>The Principle will be responsible for any and all expenses incurred in the performance of Services under this Agreement.
</p>
<br/>
<h2>Article 6 - TAXES:</h2>
<p>Agent shall be responsible for the payment of any and all taxes incurred by Agent under this Agreement.
As the Parties do not have an employment relationship, the Principal shall not be liable for any taxes.
</p>
<br/>
<h2>Article 7 - TERMINATION:</h2>
<p>To terminate this Agreement, the Parties must notify each other in writing. If either Party would like to terminate, 15 days' written notice must be given to the other Party.
This Agreement may also be terminated by the Principal at any time, without notice, if the Agent breaches any of the terms and conditions herein. It may also be terminated by the Principal in case of Agent's insolvency, bankruptcy, death or disability.
</p>
<br/>
<h2>Article 8 - EXCLUSIVITY:</h2><br/>
<p>The Parties hereby agree that Agent does not need to work on an exclusive basis and is free to provide other services to other individuals and/or organizations, provided such services do not directly compete with the Services of Principal listed herein.</p>

<br/>
<h2>Article 9 - INTELLECTUAL PROPERTY:</h2>
<p>Agent hereby acknowledges and agrees that all intellectual property belonging to or in the name of Principal, including, but not limited to all registered copyrights, trademarks and service marks, as well as any patent or patent application, shall be and remain the exclusive property of Principal, and Agent shall not at any time acquire or claim any right, title or interest in or to any such intellectual property.
</p>
<br/>
<h2>Article 10 - INDEMNIFICATION:</h2>
<p>Agent and Principal hereby warrant and agree to hold each other harmless and indemnify each other against any and all demands, claims, or costs which may have arisen from negligence in the performance of any duties under this Agreement.
</p>
<br/>
<h2>Article 11 - LIMITATION OF LIABILITY:</h2>
<p>In no event shall either Party under this Agreement have any liability to the other for any special, consequential, exemplary, incidental, or punitive damages arising out of this Agreement or in connection with any Services performed under this Agreement.
</p>
<br/>
<h2>Article 12 - GENERAL PROVISIONS:</h2>
<p>
	<ol>
		<li>GOVERNING LAW: Both Parties consent to jurisdiction under the state and federal courts within the state of West Virginia. The Parties agree that this choice of law, venue, and jurisdiction provision is not permissive, but rather mandatory in nature.</li>
		<li>LANGUAGE: All communications made or notices given pursuant to this Agreement shall be in the English language.</li>
		<li>ASSIGNMENT: This Agreement, or the rights granted hereunder, may not be assigned, sold, leased or otherwise transferred in whole or part by either Party.</li>
		<li>AMENDMENTS: This Agreement may only be amended in writing signed by both Parties.</li>
		<li>SEVERABILITY: If any provision or term of this Agreement is held to be unenforceable, then this Agreement will be deemed amended to the extent necessary to render the otherwise unenforceable provision, and the rest of the Agreement, valid and enforceable. If a court declines to amend this Agreement as provided herein, the invalidity or unenforceability of any provision of this Agreement shall not affect the validity or enforceability of the remaining terms and provisions, which shall be enforced as if the offending term or provision had not been included in this Agreement.</li>
		<li>PUBLIC ANNOUNCEMENT: Neither Party will make any public announcement or disclosure about the existence of this Agreement or any of the terms herein without the prior written approval of the other Party.</li>
		<li>ENTIRE AGREEMENT: This Agreement constitutes the entire agreement between the Parties and supersedes any prior or contemporaneous understandings, whether written or oral.</li>
		<li>HEADINGS: Headings to this Agreement are for convenience only and shall not be construed to limit or otherwise affect the terms of this Agreement.</li>
		<li>COUNTERPARTS: This Agreement may be executed in counterparts, all of which shall constitute a single agreement. If the dates set forth at the end of this document are different, this Agreement is to be considered effective as of the date that both Parties have signed the agreement, which may be the later date.</li>
		<li>FORCE MAJEURE: Agent is not liable for any failure to perform due to causes beyond its reasonable control including, but not limited to, acts of God, acts of civil authorities, acts of military authorities, riots, embargoes, acts of nature and natural disasters, and other acts which may be due to unforeseen circumstances.</li>
		<li>NOTICES ELECTRONIC COMMUNICATIONS PERMITTED: Any notice to be given under this Agreement shall be in writing and shall be sent by first class mail, airmail, or e-mail, to the address of the relevant Party set out at the head of this Agreement, or to the relevant email address set out below or other email address as that Party may from time to time notify to the other Party in accordance with this clause. The relevant contact information for the Parties is as follows:
			<ol>
				<li>APPROPRIATE CONTENT - We don’t allow nudity on NFTTRX, with some exceptions, like photos of post-mastectomy scarring and women actively breastfeeding. Nudity in photos of paintings and sculptures is OK, too.</li>
				<li>SELF INJURY - We do not allow glorification or encouragement of self-injury, including eating disorders. We do allow content that references self-injury and eating disorders if it is for the purpose of creating awareness or signposting support.</li>
				<li>GRAPHIC  VIOLENCE - Graphic violence is not allowed and we may remove videos or images of intense, graphic violence to make sure that Instagram stays appropriate for everyone. If shared in relation to important and newsworthy events, and this imagery is shared to condemn or raise awareness and educate, it may be allowed.</li>
			</ol>
		</li>
		
	</ol>
</p>

<p>
Principal:<br/>
{{PrincipalEmail}}
</p>

<p>
Agent:<br/>
{{{AgentEmail}}}
</p>
<p>
Notices sent as above shall be deemed to have been received 3 working days after the day of posting (in the case of inland first class mail), or 7 working days after the date of posting (in the case of air mail), or next working day after sending (in the case of e-mail).</p>
<p>
In proving the giving of a notice, it shall be sufficient to prove that the notice was left, or that the envelope containing the notice was properly addressed and posted, or that the applicable means of telecommunication was addressed and dispatched, and dispatch of the transmission was confirmed and/or acknowledged as the case may be.
</p>
<p>
EXECUTION:
<hr/>
</p>
<p> Agent Name: {{{AgentName}}}</p>
<p> Signature: {{{AgentSignature}}}</p>
<p> Date:{{{StartDate}}}</p>
<hr/>
<p> Principal Name: {{{PrincipalName}}}</p>
<p> Signature: {{{PrincipalSignature}}}</p>
<p> Date:{{{StartDate}}}</p>
</body></html>