.certificate {
    display: flex;
    justify-content: center;
    border-radius: 24px;
    box-shadow: 0 0 20px 0 #a7b7cd50;
    background: #ffffff;
}

.noShadow {
    box-shadow: none;
}

.left {
    padding: 40px;
    background: url("/assets/img/elements/grey-logo.jpg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 90%;
}
.small {
    padding: 24px;
}

.right {
    border-radius: 0 24px 24px 0;
    background: linear-gradient(191.78deg, #6ac4ff 35.75%, #6aa2f8 106.18%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.right > img {
    height: 50px;
    margin-bottom: 50px;
}
.rightSmall > img {
    height: 25px;
}

.backText {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 96px;
    color: #efefef;
}

.small > .backText {
    font-size: 44px !important;
}

.mainTitle {
    margin-top: -62px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.small > .mainTitle {
    font-size: 24px;
    margin-top: -52px;
}

.description {
    margin-top: -15px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #a4a4a4;
}

.small > .description {
    font-size: 12px;
}

.name {
    margin-top: 18px;
    font-size: 32px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
}

.small > .name {
    margin-top: 2px;
    font-size: 20px;
}

.line {
    margin-top: 5px;
    height: 1px;
    width: 62%;
    background: #efefef;
}

.title {
    margin: 3px 0;
    font-weight: 500;
    font-size: 8px;
    color: #6d6d6d;
}
.small > .title {
    font-size: 6px;
}

.code {
    font-size: 9px;
    color: #000000;
    word-break: break-all;
}

.small > .code {
    font-size: 7px;
    word-break: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.space {
    margin-top: 6px;
}
.spaceXX {
    margin-top: 10px;
}
.small > .spaceXX {
    margin-top: 4px;
}

.idea {
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    text-transform: capitalize;

    color: #000000;
}
.small > .idea {
    font-size: 14px;
}

.upper {
    text-transform: uppercase;
}
.blue {
    background: #6bc4ff;
}
.black {
    font-weight: 500;
    color: #000;
}
.mlXX {
    margin-left: 5px;
}

.verticalLine {
    width: 1px;
    height: 15px;
    margin: 0 7px;
    background: #6bc4ff;
    transform: skew(-20deg, 0);
}

.protected {
    position: absolute;
    top: -15%;
    right: -28%;
}

.protected > img {
    width: 170px;
}

.price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-align: center;

    color: #ffffff;

    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    .certificate {
        margin: 20px auto 0 auto;
    }
    .backText {
        font-size: 70px;
    }
    .mainTitle {
        margin-top: -32px;
        margin-bottom: 5px;
        font-size: 32px;
    }
    .description {
        font-size: 15px;
    }
    .name {
        font-size: 26px;
    }
    .title {
        font-size: 6px;
    }
    .code {
        font-size: 7px;
    }
    .idea {
        font-size: 18px;
    }

    .right > img {
        height: 32px;
    }
    .protected {
        top: -10%;
        right: -20%;
    }
    .protected > img {
        width: 140px;
    }
}
