.wrapper {
  background: #f9f9f9;
  min-height: calc(100vh - 94px);
  padding: 21px 0;
}

.title {
  text-align: center;
  font-family: "Yeseva One";
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #363a40;
}

.paper {
  margin: 32px auto 0 auto;
  width: 794px;
  background: #ffffff;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}

.canvasWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sigCanvas {
    background: white;
    width: 100%;
    height: 450px;
    cursor: crosshair;
}

.refreshBtn {
  position: absolute;
  bottom: 30px;
  left: -40px;
  cursor: pointer;
  width: 35px;
  transition: all 0.3s linear;
  opacity: 0;
}
.refreshActive {
  left: 30px;
  opacity: 1;
}


@media (max-width: 825px) {
  .wrapper {
    padding: 21px;
  }
  .paper {
    width: 100%;
  }
}