.wrapper {
  background: #f5f5f5;
  border: 1px solid #e3e4e5;
  border-radius: 14px;
  width: 267px;
  display: block;
}

.body {
    padding: 25px 25px 0 25px;
}
.body img {
    width: 100%;
}

.footer {
  border-top: 1px solid #e3e4e5;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #363a40;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px;
}

.footer img {
    height: 19px;
    width: 15px;
}

.footer p {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}