.wrapper {
  background: linear-gradient(
    360deg,
    rgba(106, 196, 255, 0.4) -99.08%,
    #f9f9f9 87.16%
  );
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.number {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.3px;
  color: #bfbfbf;
  background: #fff;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  position: relative;
}

.number::before {
    content: "";
    position: absolute;
    bottom: -32px;
    border: 2px solid #FFF;
    background: #fff;
    border-radius: 5px;
    /* border-radius: 50%; */
    height: 27px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin: 37px 0;
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #363a40;
}

.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #363a40;
  margin-top: 4px;
  max-width: 495px;
}

.active {
  background: #6ac4ff;
  color: #fff;
}

.active::after {
    content: "";
    width: 54px;
    height: 54px;
    border: 1px solid #6ac4ff;
    position: absolute;
    border-radius: 50%;
}
.last::before {
    content: "";
    display: none;
}


@media (max-width: 996px){
  .wrapper {
    height: auto;
    overflow: hidden;
    padding: 0 50px;
  }
  .wrapper > div {
    padding-bottom: 16px;
  } 
  .number {
    width: 46px;
  }
}