.wrapper {
  max-width: 562px;
  width: 100%;
  margin: 100px auto;
  padding: 0 50px;
}

.wrapper > .kyc {
  margin:  50px auto;
  display: block;
}


.welcome {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #363a40;
}

.header {
  font-family: "YesevaOne-Regular", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  margin: 3px 0 0 0;
}

.remember {
  margin: 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgotPassword {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.registerRemember p {
  text-decoration: underline;
}

.account {
  margin: 16px 0;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #363a40;
}
.account > a {
  margin-left: 5px;
  text-decoration: underline;
  color: #6ac4ff;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #363a40;
  margin: 24px 0 0 0;
}
.icon {
    margin: 60px 0;
}
.seconds {
    text-align: center;
}

.cardFormWrapper {
    margin-top: 40px;
}

.btnsWrapper {
  display: grid;
  grid-template-columns: 10% calc(90% - 1em);
  grid-gap: 1em;
}
.btnsWrapper button {
  width: auto;
  min-width: auto;
  padding: 0;
}
.btnsWrapper button:first-child {
  text-align: left;
  display: inline-block;
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 20px;
  }
}
