.wrapper {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    cursor: pointer;
    position: relative;
}

.checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #363a40;
    border-radius: 3px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.hidden {
    opacity: 0;
    position: absolute;
}