.wrapper {
  padding-left: 35px;
}
.block {
  margin-bottom: 9px;
}
.fileWrapper {
  position: relative;
}
.imgFile {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.inputFile {
  cursor: pointer;
  width: 353px;
  height: 256px;
  position: absolute;
  opacity: 0;
  top: 0;
}
.labelFile:hover {
  border: 2px dashed #6ac4ff;
}
.form {
  width: 646px;
}
.label {
  margin-top: 22px;
}
.labelDes {
  font-size: 14px;
  line-height: 16px;
  color: #434242;
  opacity: 0.5;
}
.labelFile {
  cursor: pointer;
  width: 352px;
  height: 256px;
  background: #ffffff;
  border: 2px dashed #e3e4e5;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.fileImg {
  width: 62px;
  height: 62px;
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #52575c;
  margin-bottom: 10px;
}
.info {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #52575c;
  margin-bottom: 5px;
}
.fileTypes {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #434242;
  opacity: 0.5;
}
.checkboxWrapper {
  font-size: 0px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 10px;
  background: rgb(191, 199, 207);
  border-radius: 10px;
  cursor: pointer;
}
.checkbox {
  display: block;
  width: 14px;
  height: 14px;
  top: 3px;
  left: 3px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  position: relative;
  transition: all 200ms ease 0s;
}
.inputCheckbox {
  cursor: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 1;
  margin: 0px;
}
.checked {
  background: rgb(0, 127, 255);
}
.checked2 {
  left: 22px;
  top: 3px;
  background-color: rgb(255, 255, 255);
}
.priceInput {
  margin-left: 18px;
}
.priceSelect {
  padding: 0;
}
.priceTotal {
  margin-top: 10px;
  text-align: end;
}
.closeBtn {
  margin-right: 20px;
}
.ul {
  display: flex;
}
.ul li a {
  padding: 8px 24px;
  border-radius: 28px;
  font-size: 14px;
  display: block;
}
.ul li a:hover {
  color: #6ac4ff;
}
.checkboxDes {
  width: 502px;
}
.priceWrapper {
  display: flex;
}
.line {
  width: 100%;
  height: 1px;
  background: #E3E4E5;
}
@media (max-width: 512px) {
  .wrapper {
    padding-left: 10px;
  }
  .labelFile {
    width: 335px;
  }
  .inputFile {
    width: 335px;
  }
  .form {
    width: 335px;
  }
  .checkboxDes {
    width: 236px;
  }
  .priceWrapper {
    display: block;
  }
  .priceInput {
    margin-left: 0;
  }
  .priceSelect {
    max-width: inherit;
    margin-bottom: 10px;
  }
}
@media (max-width: 330px) {
  .wrapper {
    padding-left: 5px;
  }
  .labelFile {
    width: 280px;
  }
  .inputFile {
    width: 280px;
  }
  .form {
    width: 280px;
  }
  .checkboxDes {
    width: 185px;
  }
}
