.left {
  background: #f9f9f9;
}
.leftBlock {
  overflow: hidden;
  margin-top: 35px;
  box-shadow: 0px 56px 10px -49px rgb(0 0 0 / 29%);
}
.leftImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  
}
.share {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-left: 8px;
  
}
.union {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.leftFooter {
  margin-top: 50px;
  margin-bottom: 70px;
}

.rightBlock {
  margin-top: 35px;
}

.userWrapper {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.user {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lebedova {
  color: #6ac4ff;
  cursor: pointer;
}
.lebedova:hover{
  color: #6ac4ff;
}
.text {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  margin: 15px 0;
}
.text2 {
  color: Grey;
  font-size: 16px;
}
.textsWrapper {
  align-content: space-around;

}
.line{
  background: grey;
  margin-bottom: 30px;
}
.rightFooter {
  margin-top: 30px;
  margin-bottom: 60px;
  font-size: 22px;
}
.btnWrapper {
  margin-top: 20px;
}
.btn {
  width: 100%;
}

.vector {
  padding-left: 15px;
}
.price {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  padding-right: 5px;
}
.price2 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #9e9ea6;
}
@media (max-width: 986px) {
  .leftBlock {
    height: 412px;
  }

  .textsWrapper {
    height: 80%;
  }
}
@media (max-width: 768px) {
  .right {
    flex-direction: column-reverse;
    align-items: center;
  }
  .rightBlock {
    margin-bottom: 60px;
  }
  .rightFooter {
    margin-bottom: 30px;
  }
}
