
.Wrapper {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(107, 111, 120, 0.19);
  margin-bottom: 20px;
}

.border {
  border-bottom: 1px solid rgba(107, 111, 120, 0.19);
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
}
.border2 {
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border3 {
  border-bottom: 1px solid rgba(107, 111, 120, 0.19);
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border4 {
  padding: 20px 24px;
}

.cart {
  padding: 40px 30px 24px 30px;
  border-bottom: 1px solid rgba(107, 111, 120, 0.19);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.des {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #434242;
}
.btn {
  margin-left: 36px;
}
.color {
  color: #6ac4ff;
}
.modalWrapper {
  position: fixed;
  top: 0;
  left: -5000px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 11;
  background: #363636;
  opacity: 0;
  transition: opacity 150ms ease 0.3s;
  backdrop-filter: blur(4px);
}
.info{
    margin-left: 46px;
}
.modal {
  position: absolute;
  top: -5000px;
  z-index: 12;
  transition: all 150ms ease 0.4s;
  opacity: 0;
}
.name {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #434242;
  margin-bottom: 14px;
}
.modalImg {
  height: 40px;
}
.modalImg2 {
  height: 62px;
}
.text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #52575c;
}
.text2 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #434242;
}
.text3 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #434242;
}
.text4 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #434242;
  margin-bottom: 13px;
  margin-top: 24px;
}

.x {
  width: 24px;
  height: 24px;
}
.active {
  opacity: 0.5;
  left: 0;
}
.active2 {
  top: 80px;
  opacity: 1;
}
@media (max-width: 786px) {
  .info {
    order: 1;
  }
  .cart {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .btn {
    margin-bottom: 30px;
    width: 50%;
  }
}
@media (max-width: 380px) {
  .btn {
    width: 40%;
  }
  .border2 {
    flex-direction: column;
  }
  .border3 {
    flex-direction: column;
  }
  .text {
    margin-bottom: 8px;
  }
  .text2 {
    margin-bottom: 8px;
  }
}
