.wrapper {
    margin-top: 22px;
    width: 100%;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #363a40;
    margin-bottom: 9px;
}

.input {
    width: 100%;
    padding: 16px;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #E3E4E5;
    border-radius: 6px;
}
