@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

:root {
  --primary: #6ac4ff;
}

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

.section__title--margin {
  margin-top: 25px;
}

.swiper-wrapper {
  transition: all 0.3s linear;
}

.main-btn-radius {
  border-radius: 25px;
}

.page {
  min-height: calc(100vh - 87px);
}

.error-message {
  color: red;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  text-align: left;
  grid-gap: 5px;
}

.header-nav button {
  margin-left: 24px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  width: 87px;
  font-size: 14px;
  padding: 0;
}
.header-nav .protection {
  width: 134px;
  margin-left: 38px;
}
.header-nav .profile {
  margin: 0 24px;
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  background: #5f5f5f59;
}

.header-nav .profile > img {
  cursor: pointer;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.auth-page {
  min-height: calc(100vh - 87px);
  height: 100%;
  overflow: hidden;
}
.auth-image {
  object-fit: cover;
  height: 100%;
}

.wrapper404 {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 100px;
}

.wrapper404 > img {
  margin: 0 auto;
}

.title-404 {
  font-family: "Yeseva One", sans-serif;
  font-size: 30px;
  line-height: 35px;
  color: #363a40;
  margin-top: 44px;
}

.description-404 {
  margin: 15px 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.footer-contact {
  display: flex;
  align-items: center;
}

.fz-16 {
  font-size: 16px !important;
}
.h-100vh {
  min-height: calc(100vh - 87px) !important;
  height: 100%;
}
.slick-prev {
  display: block !important;
  left: -10px !important;
  z-index: 2 !important;
  top: 40% !important;
  transform: rotateY(180deg) !important;
  width: 66px !important;
  height: 66px !important;
  background-image: url("/assets/img/icons/slider-arrow.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.slick-prev::before {
  content: " " !important;
}

.updated {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #363a40;
  background: rgb(192, 229, 253);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  transition: all 0.5s linear;
}

.show {
  top: 94px;
}

.slick-next {
  display: block !important;
  right: -10px !important;
  z-index: 2 !important;
  top: 40% !important;
  transform: rotateY(360deg) !important;
  width: 66px !important;
  height: 66px !important;
  background-image: url("/assets/img/icons/slider-arrow.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.slick-next::before {
  content: " " !important;
}
.slick-slide > div {
  display: flex !important;
  justify-content: center !important;
}
.slick-disabled {
  opacity: 0 !important;
  cursor: default !important;
}
@media (max-width: 768px) {
  .auth-page {
    height: 100%;
  }
  .auth-image {
    object-fit: cover;
    height: 220px;
    width: 100%;
  }

  .sale__carousel {
    overflow: scroll !important;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .sale__carousel::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .sale__carousel {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .swiper-wrapper {
    grid-gap: 5px;
  }
}
.square-currency__icon {
  width: 21px;
  height: 21px;
}
.my-gallery-page-col-4 {
  width: calc(33% - 30px);
  margin: 15px;
  display: block;
}
@media (max-width: 1200px) {
  .my-gallery-page-col-4 {
    width: calc(50% - 30px);
  }
}
@media (max-width: 768px) {
  .my-gallery-page-col-4 {
    width: 100%;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.social-medias_wrapper {
  width: 100%;
  margin-bottom: 25px;
}
.social-medias {
  padding: 15px 0;
}
.social-medias_container {
  border-bottom: 1px solid #e3e4e5;
}
.social-medias_container .error-message {
  text-align: right;
  display: block;
}
.social-medias_title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  border-bottom: 1px solid #e3e4e5;
  padding: 15px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #52575c;
}

.social-medias > div:nth-of-type(2) {
  visibility: hidden;
  display: none;
  align-items: center;
  width: 80%;
  transition: all 0.5s ease-in-out;
}
.social-medias > div:nth-of-type(2) > div {
  margin-right: 15px;
  text-overflow: ellipsis;
  width: 100%;
  text-align: right;
  overflow: hidden;
}
.social-medias > div:nth-of-type(2).active {
  display: flex;
  visibility: visible;
}
.social-medias > input {
  display: block;
  visibility: visible;
}
.social-medias > input.active {
  display: none;
  visibility: hidden;
}
.social-medias_input {
  width: 35%;
  height: 40px;
  padding: 12px 20px;
}
.social-medias span {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.7px;
  color: #363a40;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.social-medias > div:nth-of-type(2) > img {
  cursor: pointer;
}
@media (max-width: 960px) {
  .social-medias_input {
    width: 45%;
  }
  .social-medias > div:nth-of-type(2) {
    width: 65%;
  }
}
@media (max-width: 512px) {
  .social-medias_input {
    width: 60%;
  }
  .social-medias > div:nth-of-type(2) {
    width: 55%;
  }
}
/* Review */

.review_left-block {
  width: 54%;
  background: white;
  padding-top: 80px;
}
.review_right-block {
  padding: 80px 0 70px 0;
  width: 46%;
  background: #f9f9f9;
}
.review-title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #52575c;
  margin-bottom: 25px;
}

.review-title > div {
  font-size: 18px;
  margin-top: 8px;
}
.review-wrapper {
  display: flex;
}
.review-container {
  padding: 0 60px !important;
}
.review_take-price {
  display: flex;
  justify-content: space-between;
}
.review_price {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #434242;
  opacity: 0.5;
  margin-bottom: 22px;
}
.review-select {
  padding: 0 !important;
  margin: 5px 0 15px 0;
  display: block;
}
.review_title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #363a40;
}
.review_des {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #434242;
  opacity: 0.5;
  margin-bottom: 36px;
}

.review_des > span {
  opacity: 1;
  color: #6ac4ff;
  cursor: pointer;
  text-decoration: underline;
}
.review_checkbox {
  display: flex;
  align-items: center;
}
.review_checkbox > input {
  width: 20px;
  height: 20px;
  border-color: #e3e4e5;
}
.review_checkbox > span {
  margin-left: 10px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #363a40;
}
.review_buttons > button {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #9e9ea6;
}
.review_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.review-btn {
  padding: 0;
  margin-right: 25px;
  height: fit-content;
}
.review_buttons > div:nth-of-type(2) {
  display: flex;
}
.review_buttons > div > button:nth-of-type(2) {
  margin-right: 0 !important;
}
.review_buttons > div > button:nth-of-type(1) {
  min-width: fit-content;
}

.review_img_wrapper {
  height: fit-content;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.review_img_wrapper > img {
  border-radius: 16px;
  object-fit: contain;
  box-shadow: 0px 56px 10px -49px rgb(0 0 0 / 29%);
  height: fit-content;
}

.review_right-block > .review-container > div:nth-of-type(4) {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #363a40;
}
.review_right-block .review-container > div:nth-of-type(3) {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: #9e9ea6;
}
.stripe-element {
  background: #ffffff;
  border: 1px solid rgba(107, 111, 120, 0.19);
  border-radius: 6px;
  padding: 13px 11px;
}
@media (max-width: 960px) {
  .review-wrapper {
    flex-direction: column-reverse;
  }
  .review_left-block {
    width: 100%;
    padding-bottom: 50px;
  }
  .review_right-block {
    width: 100%;
  }
}
@media (max-width: 512px) {
  .review-container {
    padding: 0 20px !important;
  }
  .review_buttons {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 20px;
  }
  .review_take-price {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
  }
}



/* .square:hover .square__top::after{-webkit-box-shadow:0 10px 20px rgba(174,174,192,.8);box-shadow:0 10px 20px rgba(174,174,192,.8)} */