.Modal__Overlay {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal__Content {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 11;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 562px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);
    border-radius: 24px;
    padding: 110px 106px;

    min-height: 500px;
}

@media (max-width: 768px) {
    .wrapper {
        width: 90%;
        padding: 80px 20px;
        position: relative;
    }
}
