.aside {
  height: fit-content;
  background: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 45px;
}
.aside > img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  object-fit: cover;
}
.name {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  line-height: 34px;
  align-items: center;
}
.name > img {
  width: 16px;
  margin-left: 5px;
  height: 16px;
}
.aside > div:nth-of-type(3) {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #9e9ea6;
}
.aside > div:nth-of-type(2) > a {
  color: #6ac4ff;
  cursor: pointer;
}
.views > div > img {
  width: 22px;
  height: 22px;
}
.views {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.views > div {
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: #363a40;
}
.views > div span {
  font-weight: 500;
  margin: 0 3px;
}
.aside_text {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #9e9ea6;
  text-align: center;
  border-bottom: 0.5px solid #9e9ea6;
  padding-bottom: 10px;
}
.aside_title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #363a40;
}

.biography {
  align-self: flex-start;
  margin: 20px 0;
  transition: all 0.5s ease-in-out;
}
.biography > div:nth-of-type(2) {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #363a40;
}
.medias {
  display: flex;
  width: 100%;
  grid-gap: 10px;
}
.medias img {
  width: 32px;
  margin-top: 10px;
}
.wrapper {
  padding: 0;
  padding-left: 30px;
}
.under_wrapper > div {
  padding: 0;
}
.under_wrapper > div > div:nth-of-type(1) {
  padding: 0;
}
.gallery_wrapper > div:nth-of-type(1) {
  padding: 0;
}
.gallery_wrapper > div:nth-of-type(3) {
  padding: 0;
}
.social_media {
  padding: 0;
  transition: all 0s ease-in-out;
}
.more_info {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
  color: #6da1f5;
  display: none;
  transition: 0.5s ease-in-out;
}
.cards_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.under_wrapper {
  max-width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e4e5;
}
.under_wrapper > div > div:nth-of-type(1) > a {
  padding: 0;
  cursor: pointer;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: #9e9ea6;
  margin-right: 40px;
}
.createNewItem {
  cursor: pointer;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  text-decoration-line: underline;
  color: #6ac4ff;
}
.edit {
  width: 100%;
}
.edit > img {
  width: 20px;
  cursor: pointer;
}
.container {
  padding: 0 50px;
}
.active{
  color: #363A40 !important;
  font-weight: 600 !important;
}
.name img{
  cursor: pointer;
}
.social_media img{
  cursor: pointer;
}
@media (max-width: 1200px) {
  .under_wrapper > div {
    justify-content: center !important;
  }
}
@media (max-width: 960px) {
  .wrapper{
    padding: 0 50px;
  }
  .container {
    padding: 0;
  }
  .gallery_wrapper > div {
    padding: 0;
  }
  .under_wrapper > div {
    justify-content: center !important;
  }
  .under_wrapper {
    margin-top: 20px;
  }
  .under_wrapper > div > div:nth-of-type(2) {
    margin-top: 15px;
  }
  .aside {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .social_media {
    display: none;
  }
  .biography {
    display: none;
  }
  .aside_text {
    border-bottom: none;
  }
  .more_info {
    display: block;
  }
  .aside {
    padding: 40px 30%;
  }
  .activeInfo {
    display: block !important;
  }

  .under_wrapper > div > div:nth-of-type(1) {
    overflow-x: scroll;
  }
  .gallery_wrapper {
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .gallery_wrapper > div {
    padding: 0;
  }
  .under_wrapper > div {
    justify-content: center !important;
  }
  .under_wrapper {
    margin-top: 20px;
  }
  .under_wrapper > div > div:nth-of-type(2) {
    margin-top: 15px;
  }
  .aside {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .social_media {
    display: none;
  }
  .biography {
    display: none;
  }
  .aside_text {
    border-bottom: none;
  }
  .more_info {
    display: block;
  }
  .aside {
    padding: 40px 30%;
  }

  .under_wrapper > div > div:nth-of-type(1) {
    overflow-x: scroll;
  }
}
@media (max-width: 512px) {
  .aside_wrapper {
    height: 45vh;
  }
  .aside {
    padding: 30px 40px;
  }
  .wrapper {
    padding: 0 10px;
  }
}
