.updated {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: #363a40;
    background: rgb(192, 229, 253);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
    transition: all 0.5s linear;
}

.show {
    top: 94px;
}