


.section {
    padding: 130px 0;
}

.main {
    padding: 100px 0 130px 0;
}

.textBlog > div {
    text-align: left !important;
}

.description {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    font-feature-settings: "salt" on, "liga" off;
    margin-bottom: 30px;
    color: #18191f;
}

.getStart {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "salt" on, "liga" off;
    color: #6ac4ff;
    display: flex;
    align-items: center;
    grid-gap: 9px;
    margin-bottom: 25px;
}

.getStart:hover {
    cursor: pointer;
    color: #6ac4ff;
}

.solution {
    margin: 0 auto;
    background: url("/assets/img/elements/BG Mask.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 58px 0;
    border-radius: 24px;
}
.solution div h2 {
    color: #18191f !important;
}
.solution > p {
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    color: #18191f;
}


.certificateWrapper {
    display: flex;
    grid-gap: 1em;
    background: #F9F9F9;
    height: 100%;
}

.cardInfo {
    padding: 15px;
}