.arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}
.arrow img {
  object-fit: cover;
  width: 100%;

  height: 100%;
}
.receiveText {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  margin-bottom: 36px;
}
.block {
  align-items: center;
  flex-direction: column;
}

.qrWrapper {
  height: 200px;
  width: 200px;
  margin-bottom: 36px;
}
.btn:hover .btnImg {
  filter: invert(91%) sepia(74%) saturate(0%) hue-rotate(145deg)
    brightness(270%) contrast(101%);
}
.btnImg {
  width: 20px;
  margin-left: 10px;
}
.updated {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #363a40;
  background: rgb(192, 229, 253);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  transition: all 0.5s linear;
}

.show {
  top: 94px;
}
.qr {
  background-image: url("/assets/img/elements/border.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 5px;
}
.text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #828282;
  margin-bottom: 42px;
}
.text2 {
  background: #f5f5f5;
  padding: 10px 25px;
  height: fit-content;
  margin-bottom: 22px;
}
@media (max-width: 768px) {
  .arrow {
    left: -5000px;
  }
}
@media (max-width: 576px) {
  .text2 {
    font-size: 12px;
  }
}
