.block{
    width: 256px;
    height: 256px;
    
    background: #DBDDE0;
    opacity: 0.1;
    margin-top: 58px;
    margin-bottom: 34px;
    position: absolute;
}
.img{
    width: 70px;
    height: 70px;
    margin-top: 112px;
    margin-bottom: 23px;
}
.text{
    font-family: "Hind",sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 21px;
text-align: center;
letter-spacing: -0.02em;
color: #333333;
margin-bottom: 112px;
}