/* TODO: never forget to dublicate this css to template styles */

.agreement-template-wrapper {
  padding: 45px;
}

.agreement-template-logo {
  display: block;
  margin-left: auto;
  height: 80px;
  margin-bottom: 90px;
}

.agreement-template-wrapper h1,
.agreement-template-wrapper h2 {
  font-size: 30px;
  font-weight: 500;
}

.agreement-template-wrapper {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.agreement-template-signature {
  height: 100px;
  margin-bottom: 20px;
}

.agreement-template-input {
  width: 100%;
  border: 1px solid rgba(107, 111, 120, 0.19);
  border-radius: 6px;
  padding: 13px;
  font-size: 14px;
  line-height: 16px;
}
