.text {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #333333;
  margin-bottom: 8px;
}

.sub_title {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #828282;
}
.dop {
  font-size: 16px;
}
.dop2 {
  font-size: 12px;
  text-align: start;
}
.img {
  width: 84px;
  height: 84px;
  margin-bottom: 16px;
  margin-top: 36px;
  border-radius: 50%;
}

.nftImage {
  width: 200px;
  height: auto;
  margin: 36px 0;
}

.borderWrapper {
  display: flex;
  margin-top: 40px;
}
.border {
  background: #f5f5f5;
  border-radius: 6px;
  padding: 22px 23px;
  margin-left: 11px;
  margin-right: 11px;
  min-width: 170px;
}
.tabs {
  padding: 26px 26px 3px 26px;
}
.nav {
  grid-gap: 18px;
}
.nav div {
  font-size: 18px;
  color: #9e9ea6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 86px;
}
.listItem {
  display: flex;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid #e3e4e5;
  margin-top: -1px;
  width: 426px;
}
.lastItem {
  border-bottom: 1px solid #e3e4e5;
}

.plus {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #219653;
}
.minus {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: red;
}
.active {
  color: var(--primary) !important;
  position: relative;
  display: flex;
  justify-content: center;
}
.active::after {
  content: "";
  bottom: -3px;
  position: absolute;
  width: 86px;
  height: 2px;
  background: var(--primary);
}
.action {
  display: flex;
  align-items: center;
}
.nav > a{
    margin-right: 24px;
    margin-left: 24px;
}
.action p {
  color: var(--primary);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.41px;
}
.action > img {
  width: 26px;
  margin: 0 auto 3px auto;
}

.receive {
  transform: rotate(180deg);
}

.action > p {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.41px;
  color: #ffffff;
  margin-left: 6px;
}
.btn {
  border-radius: 6px;
  margin-left: 11px;
  margin-right: 11px;
}
.btn:hover > .action > p {
  filter: invert(65%) sepia(38%) saturate(916%) hue-rotate(179deg)
    brightness(200%) contrast(101%);
}
.btn:hover > .action > img {
  filter: invert(65%) sepia(38%) saturate(916%) hue-rotate(179deg)
    brightness(200%) contrast(101%);
}
@media (max-width: 768px) {
  .border {
    padding: 22px 0px;
    margin-left: 2px;
    margin-right: 2px;
  }
  .wrapper {
    display: flex;
  }
  .dop {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .listItem {
    width: 295px;
  }
  .lastItem {
    margin-bottom: 81px;
  }
  .btn {
    padding-left: 24px;
    padding-right: 24px;
  }
}
