.arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;
}
.arrow img {
  object-fit: cover;
  width: 100%;

  height: 100%;
}

.link {
  text-decoration: underline;
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  margin-bottom: 45px;
}
.img {
  width: 70px;
  height: 70px;
  margin-bottom: 23px;
}
.check {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #333333;
  margin-bottom: 8px;
}
.trx {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 40px;
  color: #828282;
}
.underBorder {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.border {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 6px;
  margin-bottom: 14px;
  width: 426px;
  height: 79px;
}
.border2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-bottom: 14px;
  width: 426px;
  height: 79px;
}
.border3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-bottom: 14px;
  width: 426px;
  height: 85px;
}
.break {
  word-break: break-all;
}
.borderText {
  margin-bottom: 6px;
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}
.borderText2 {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

@media (max-width: 576px) {
  .arrow{
    left: -5000px;
  }
  .border {
    width: 333px;
  }
  .border2 {
    width: 333px;
  }
  .border3 {
    width: 333px;
  }
}
@media (max-width: 380px) {
  .border {
    width: 300px;
  }
  .border2 {
    width: 300px;
  }
  .border3 {
    width: 300px;
  }
  .borderText{
    font-size: 13px;
  }
  .borderText2{
    font-size: 14px;
  }
}
