.wallet {
  background: linear-gradient(90.04deg, #6ac4ff 17.06%, #6d9bf9 84.12%);
  border-radius: 14px;
  padding: 25px;
  color: #fff;
}
.walletHeader {
  display: grid;
  grid-template-columns: 25px 1fr;
}
.headerTitle {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #363a40;
}
.wallet__item {
  display: flex;
  grid-gap: 10px;
  align-items: center;
}
.wallet__item img {
  width: 22px !important;
  height: 20px !important;
}
.wallet__item:hover {
  color: #6ac4ff;
}
.activeWallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 0 !important;
}
.activeWallet > div{
  color: #6ac4ff;
}

/* Card */
.cardWallet {
  display: flex;
  align-items: center;
  grid-gap: 21px;
  flex-direction: column;
}

.welcome {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  font-size: 26px;
  line-height: 30px;
}

/* Wallet */

.logo {
  height: 27px;
  margin-bottom: 37px;
}

.total {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.9;
}

.amount {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  margin-top: 8px;
  color: #ffffff;
  letter-spacing: 1px;
  display: flex;
  align-items: flex-end;
}
.amount img {
  margin-left: 10px;
  height: 33px;
  cursor: pointer;
}

.walletNumber {
  display: flex;
  align-items: center;
  grid-gap: 1em;
  margin-top: 14px;
}

.walletNumber > span, .walletNumber > a {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.8;
  text-overflow: ellipsis;
  overflow: hidden; 
  max-width: 320px;
}

.walletNumber > img {
  height: 24px;
  opacity: 1 !important;
  cursor: pointer;
}
.actionsWrapper,
.smallActionsWrapper {
  display: flex;
  grid-gap: 1em;
}
.action {
  width: 66px;
  text-align: center;
  background: #ffffff20;
  border-radius: 6px;
  padding: 12px 0;
  transition: all 0.2s linear;
}

.action:hover {
  cursor: pointer;
  background: #ffffff35;
}
.action:hover p {
  opacity: 1;
}
.smallActionsWrapper > .action {
  width: auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
}
.smallActionsWrapper > .action > img {
  margin: 0;
  filter: invert(62%) sepia(62%) saturate(362%) hue-rotate(164deg) brightness(100%) contrast(103%);
}
.smallActionsWrapper > .action p {
  color: var(--primary);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.41px;
}
.action > img {
  width: 26px;
  margin: 0 auto 3px auto;
}
.receive {
  transform: rotate(180deg);
}

.action > p {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.41px;
  color: #ffffff;
  opacity: 0.7;
}

.tabs {
  padding: 26px;
}
.nav {
  grid-gap: 18px;
}
.nav > div {
  font-size: 18px;
  line-height: 21px;
  color: #9e9ea6;
  cursor: pointer;
}
.nav > div:hover {
  color: var(--primary);
}
.active {
  color: var(--primary) !important;
  position: relative;
}
.active:after {
  content: "";
  bottom: -3px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--primary);
}

.listItem {
  padding: 16px 24px;
  border-top: 1px solid #e3e4e5;
  cursor: pointer;
  margin-top: -1px;
}
.listItem:hover {
  background: rgb(228, 227, 227);
}

.empty {
  text-align: center;
  font-size: 18px;
  color: #9e9ea6;
}

.empty:hover {
  background: none;
  cursor: default;
}


.last {
  border-bottom: 1px solid #e3e4e5;
}
.listTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.listSubTitle {
  font-family: "Hind", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}
.listAmount > div {
  text-align: right;
}
.smallActionsWrapper {
  display: none;
}
.updated {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: #363a40;
  background: rgb(192, 229, 253);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  transition: all 0.5s linear;
}

.show {
  top: 94px;
}
.tokenLogo {
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.acc {
  border-bottom: 0.5px solid rgba(224, 224, 224, 0.5);
  width: 100%;
  padding: 5px 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #6b6f78 !important;
  cursor: pointer;
  mix-blend-mode: normal;
}
.acc span {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #6b6f78 !important;
  cursor: pointer;
  mix-blend-mode: normal;
}
.wrapper {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 34px;
  height: 34px;
  background: white;
  border-radius: 6px;
  margin-right: 20px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}
.line,
.line::after,
.line::before {
  left: 0;
  position: absolute;
  width: 18px;
  height: 2px;
  background: #dbdde0;
  transition: transform 0.75s ease, opacity 0.75s ease;
}
.block {
  position: absolute;
  background: #ffffff;
  border-radius: 12px;
  width: 219px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -5000px;
  top: 48px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease, opacity 0.75s ease;
  padding: 15px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}
.select {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}
.select > div {
  border: none;
  border-style: none;
}
.activeModal {
  right: 0px;
  opacity: 1;
  visibility: visible;
  z-index: 999999;
}
.corner {
  position: absolute;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background: #ffffff;
  right: 23px;
  top: -8px;
}
.left {
  left: 23px;
}
.headerModal {
  left: -13px;
  top: 55px;
}
.line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line::before {
  content: "";
  top: -6px;
}
.line::after {
  content: "";
  top: 6px;
}
.line1 {
  background: transparent;
}
.line1::before {
  transform: rotate(45deg) translate(4px, 5px);
  width: 20px;
}
.line1::after {
  transform: rotate(-45deg) translate(3px, -4px);
  width: 20px;
}

.burgerUnder {
  position: absolute;
}

@media (max-width: 768px) {
  .smallActionsWrapper {
    display: flex;
  }
  .actionsWrapper {
    display: none;
  }
  .wallet {
    padding: 15px;
  }
  .walletNumber > span {
    font-size: 12px;
  }
}
