
.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-gap: 22px;
}

.form label {
    margin: 0;
}
.form p {
    font-weight: 700 !important;
}

.upload {
    width: 100%;
    text-align: center;
    border: 1px dashed #363a40;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 13px;
    cursor: pointer;
}

.upload span {
    margin-top: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #363a40;
}

.form > button {
    width: 200px;
    margin: 0 auto;
}
